@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  overflow: hidden;
}
.simplebar-scrollbar::before {
  background-color: white;
}
button:disabled {
  cursor: not-allowed;
}

*::selection {
  background-color: #10b981;
  color: #fff;
}
