@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white !important;
  font-family: "Nunito", sans-serif !important;
  overflow: hidden;
}
.simplebar-scrollbar::before {
  background-color: white;
}

*::selection {
  background-color: #10b981;
  color: #fff;
}
